<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Edit <em><%= book.title %></em></h1>
        </div>
        <div class="form-wrapper w-50">
            <form action="/books/<%= book.slug %>?_method=PUT" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="edit-book-title">Title*</label>
                    <input
                        required 
                        class="form-control" 
                        id="edit-book-title"
                        type="text" 
                        name="title" 
                        value="<%= book.title %>"
                    >
                </div>
                <div class="form-row">
                    <div class="form-group col-md-10">
                        <label for="edit-book-series">Series Title</label>
                        <input 
                            type="text" 
                            class="form-control" 
                            id="edit-book-series"
                            name="series"
                            value="<%= book.series %>"
                        >
                    </div>
                    <div class="form-group col">
                        <label for="edit-book-series-number">Series #</label>
                        <input 
                            type="number" 
                            min="1"
                            max="150"
                            step="1"
                            class="form-control" 
                            id="edit-book-series-number"
                            name="seriesNumber"
                            value="<%= book.seriesNumber %>"
                        >
                    </div>
                </div>
                <div class="form-group">
                    <label for="edit-book-author">Author*</label>
                    <input
                        required 
                        class="form-control" 
                        id="edit-book-author"
                        type="text" 
                        name="author" 
                        value="<%= book.author %>"
                    >
                </div>
                <div class="form-group">
                    <label for="edit-book-cover-image">Book Cover Image*</label>
                    <div class="custom-file">
                        <input
                            required 
                            class="custom-file-input"
                            id="edit-book-cover-image" 
                            type="file" 
                            name="image"
                            accept="image/*" 
                        >
                        <label for="edit-book-cover-image" class="custom-file-label">Choose File</label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="edit-book-synopsis">Synopsis</label>
                    <textarea 
                        rows="5"
                        class="form-control"
                        id="edit-book-synopsis" 
                        type="text" 
                        name="synopsis" 
                    ><%= book.synopsis %></textarea>
                </div>
                <p class="text-muted">Fields marked with * are required</p>
                <div class="form-group">
                    <button class="btn btn-lg btn-default btn-block btn-primary">Submit</button>
                </div>
            </form>
            <a href="/books">Cancel</a>
        </div>
    </div>
</div>
<% include ../partials/footer %>