extends ../layout
block content
  .container
    header.jumbotron
      .container
        h1 
          i.fas.fa-book-open 
          |  Welcome to BookTalk!
        p.h4 Review and discuss all your favorite books!
        p
          form(action="/books" method="GET")
            .input-group.mb-4.book-searchbar
              .input-group-prepend
                span.input-group-text.bg-dark.text-white Search
              input.form-control(
                type="search"
                name="search"
                placeholder="title / author / series"
                aria-describedby="search-button"
                oninvalid="setCustomValidity('Please enter a search value')"
                oninput="setCustomValidity('')"
                title=""
                required
              )
              .input-group-append
                button.btn.btn-info#search-button(type="submit")
                  i.fas.fa-search
        if currentUser && currentUser.isAdmin
          p
            a.btn.btn-primary.btn-lg(href="/books/new") Add a Book
        else
          p
            a.btn.btn-primary.btn-lg(href="/books/request") Request a Book
    .row.row-cols-md-4.text-center
      each book in books
        .col.mb-4
          .card.text-white.bg-secondary.h-100.home-page-cards
            img.card-img-top(src=`${book.image}` alt=`Book cover for ${book.title}`)
            .card-body.d-flex.justify-content-center.align-items-center  
              div
                p.card-title.h4 #{book.title}
                p.card-title.h5 #{book.author}
              a.stretched-link(href=`/books/${book.slug}`)
    include ../partials/pagination
append scripts
  script.
    const card = document.querySelector(".home-page-cards")
    card.addEventListener("mouseover", () => card.classList.add("shadow"))
    card.addEventListener("mouseout", () => card.classList.remove("shadow"))
