<% include ../partials/header %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1><i class="fas fa-book-open"></i> Welcome to BookTalk!</h1>
            <p class="h4">Review and discuss all your favorite books!</p>
            <p>    
                <form action="/books" method="GET">    
                    <div class="input-group mb-4 book-searchbar">
                        <input type="search" name="search" placeholder="Search books..." aria-describedby="button-addon6" class="form-control">
                        <div class="input-group-append">
                              <button id="button-addon6" type="submit" class="btn btn-info"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </form>
            </p>
            <p>
                <a class="btn btn-primary btn-lg" href="/books/new">Add a Book</a>
            </p>
        </div>
    </header>

    <div class="row text-center">
        <% books.forEach(book => { %>
            <div class="col-md-3 col-sm-6 mb-4">
                <div class="card bg-light homepage-card">
                    <img class="card-img-top homepage-book-cover" src="<%= book.image %>" alt="Book Cover">
                    <div class="card-body pb-2">
                        <h4 class="card-title"><%= book.title %></h4>
                        <h5 class="card-title"><%= book.author %></h5>
                        <!-- <% if (book.rating === 0) { %>
                            <em>No reviews yet</em>
                        <% } else { %>
                            <span class="stars text-center" data-rating="<%= book.rating %>" data-num-stars="5"></span>
                        <% } %> -->
                    </div>
                    <div class="card-footer">
                        <a href="/books/<%= book._id %>" class="btn btn-primary">More Info</a>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>

    <nav aria-label="Page navigation">
        <% if (pages && pages > 0) { %>
            <ul class="pagination justify-content-center">
                <% if (current == 1) { %>
                    <li class="page-item disabled"><a class="page-link">First</a></li>
                <% } else { %>
                    <li><a class="page-link" href="/books">First</a></li>
                <% } %>
            
                <% if (current == 1) { %>
                    <li class="page-item disabled"><a class="page-link"><i class="fas fa-angle-double-left"></i></a></li>
                <% } else { %>
                    <li><a class="page-link" href="/books?page=<%= Number(current) - 1 %>"><i class="fas fa-angle-double-left"></i></a></li>
                <% } %>
            
                <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                <% if (i !== 1) { %>
                    <li class="page-item disabled"><a class="page-link">...</a></li>
                <% } %>
                <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                    <% if (i == current) { %>
                        <li class="active"><a class="page-link"><%= i %></a></li>
                        <% } else { %>
                            <li><a class="page-link" href="/books?page=<%= i %>"><%= i %></a></li>
                        <% } %>
                    <% if (i == Number(current) + 4 && i < pages) { %>
                        <li class="page-item disabled"><a class="page-link">...</a></li>
                    <% } %>
                <% } %>
            
                <% if (current == pages) { %>
                    <li class="page-item disabled"><a class="page-link"><i class="fas fa-angle-double-right"></i></a></li>
                <% } else { %>
                    <li><a class="page-link" href="/books?page=<%= Number(current) + 1 %>"><i class="fas fa-angle-double-right"></i></a></li>
                <% } %>
            
                <% if (current == pages) { %>
                    <li class="page-item disabled"><a class="page-link">Last</a></li>
                <% } else { %>
                    <li><a class="page-link" href="/books?page=<%= pages %>">Last</a></li>
                <% } %>
            </ul>
        <% } %>
    </nav>
</div>

<% include ../partials/footer %>