<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                <li class="list-group-item">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>
                <li class="list-group-item"><a href="/books">All books</a></li> 
            </div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <img class="img-responsive" src="<%= book.image %>" alt="Book Cover">
                <div class="caption-full">
                    <h3><%= book.title %></h3>
                    <h4><%= book.author %></h4>
                    <p><%= book.synopsis %></p>
                    <p><em>Submitted by </em><%= book.creator.username %></p>
                    <a class="btn btn-info" href="/books/<%= book._id %>/edit">Edit</a>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>
