nav.navbar.navbar-expand-md.navbar-dark.bg-dark.mb-4
  .container
    a.navbar-brand(href="/") BookTalk
    button.navbar-toggler.hamburger(
      type="button" 
      data-toggle="collapse" 
      data-target="#navbarCollapse" 
      aria-controls="navbarCollapse" 
      aria-expanded="false" 
      aria-label="Toggle navigation"
    )
      .animated-icon
        span
        span
        span
        span
    .collapse.navbar-collapse#navbarCollapse
      .navbar-nav.mr-auto
        .nav-item(class={active: typeof page !== "undefined" && page === "books"})
          a.nav-link(href="/books")
            | Home 
            i.fas.fa-home
      .navbar-nav
        if !currentUser
          .nav-item(class={active: typeof page !== "undefined" && page === "login"})
            a.nav-link(href="/login")
              | Login 
              i.fas.fa-sign-in-alt
          .nav-item(class={active: typeof page !== "undefined" && page === "register"})
            a.nav-link(href="/register")
              | Register 
              i.fas.fa-user-plus
        else
          .nav-item.dropdown
            a.nav-link.dropdown-toggle#navbarUserDropdown(
              href="#"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            ) #{currentUser.username}
            .dropdown-menu(aria-labelledby="navbarUserDropdown")
              a.dropdown-item(
                href=`/users/${currentUser._id}`
                class={active: typeof page !== "undefined" && page === "profile"}
              )
                | My Profile 
                i.fas.fa-user
              if currentUser && currentUser.isAdmin
                a.dropdown-item(
                  href="/books/book-requests" 
                  class={active: typeof page !== "undefined" && page === "book-requests"}
                )
                  | Book Requests 
                  i.fas.fa-book
              a.dropdown-item(href="/logout")
                | Logout 
                i.fas.fa-sign-out-alt

