doctype html
head
  title BookTalk
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
  link(
    rel="stylesheet" 
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
    crossorigin="anonymous"
  )
  link(rel="stylesheet" href="/styles/landing.css")

.container
  if error && error.length > 0
    .alert.alert-danger(role="alert") error
  if success && success.length > 0
    .alert.alert-success(role="alert") success
#landing-header
  h1(style="color: #fff;") Welcome to BookTalk!
  a.btn.btn-lg.btn-success(href="/books") Browse the Library