<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>New Review for <em><%= book.title %></em></h1>
        </div>
        <div class="review-wrapper">
            <form action="/books/<%= book._id %>/reviews" method="POST">
                <div class="form-group">
                    <label for="rating">Leave a rating:</label>
                    <fieldset class="starability-basic form-group" id="rating">
                        <div>
                            <input type="radio" name="review[rating]" id="first-rate5" value="5" />
                            <label for="first-rate5" title="5 stars">
                                <%- '<span class="fa fa-star checked"></span>'.repeat(5) %>
                            </label>
                        </div>
                        <div>
                            <input type="radio" name="review[rating]" id="first-rate4" value="4" />
                            <label for="first-rate4" title="4 stars">
                                <%- '<span class="fa fa-star checked"></span>'.repeat(4) %>
                            </label>
                        </div>
                        <div>
                            <input type="radio" name="review[rating]" id="first-rate3" value="3" />
                            <label for="first-rate3" title="3 stars">
                                <%- '<span class="fa fa-star checked"></span>'.repeat(3) %>
                            </label>
                        </div>
                        <div>
                            <input type="radio" name="review[rating]" id="first-rate2" value="2" />
                            <label for="first-rate2" title="2 stars">
                                <%- '<span class="fa fa-star checked"></span>'.repeat(2) %>
                            </label>
                        </div>
                        <div>
                            <input type="radio" name="review[rating]" id="first-rate1" value="1" />
                            <label for="first-rate1" title="1 star">
                                <%- '<span class="fa fa-star checked"></span>'.repeat(1) %>
                            </label>
                        </div>
                    </fieldset>
                </div>
                <div class="form-group">
                    <textarea id="review-content" required class="form-control" type="text" name="review[text]" placeholder="Write a review for this book..."></textarea>
                </div>
                <!-- <div id="editor-container"></div> -->
                <div class="form-group">
                    <button id="review-submit-button" class="btn btn-primary btn-block">Submit</button>
                </div>
            </form>
            <a href="/books/<%= book._id %>">Cancel</a> 
        </div>
    </div>
</div>
<!-- <script src="//cdn.quilljs.com/1.3.6/quill.min.js"></script>
<script>
    var quill = new Quill('#editor-container', {
            modules: {
                toolbar: [
                    [{ header: [1, 2, false] }],
                    ['bold', 'italic', 'underline'],
                ]
            },
            theme: 'snow'
        });
</script>
<script>
    document.getElementById("review-submit-button").addEventListener("click", () => {
        const text = quill.getText()
        alert(text) 
    })
</script> -->

<% include ../partials/footer %>