<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="<%= user.profilePicture %>" alt="user profile picture">
                <div class="card-body">
                    <h2 class="card-title"><%= user.username %></h2>
                    <p class="card-text"><%= user.aboutMe %></p>
                </div>
                <div class="card-footer">
                    <% if (currentUser && (user._id.equals(currentUser._id) || currentUser.isAdmin)) { %>
                        <a href="/users/<%= user._id %>/edit" class="btn btn-info">Edit Profile</a>
                    <% } %>
                    <a href="/follow/<%= user.id %>">
                        <button class="btn btn-primary <% if (currentUser && (user._id.equals(currentUser._id))) { %> d-none <% } %>">Follow</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h3 card-title>Books I added:</h3>
                    <ul class="list-group list-group-flush">
                        <% books.forEach(book => { %>
                            <li class="list-group-item">
                                <a href="/books/<%= book.id %>"><%= book.title %></a> <em>by <%= book.author %></em>
                                <span class="badge badge-secondary badge-pill"><i class="fas fa-thumbs-up"></i> <%= book.likes.length %></span>
                            </li>
                        <% }) %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>